*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bgco{
    background-image: url("images/donation1.jpg");
    background-blend-mode: overlay;
    
    background-repeat: no-repeat;
    background-size:cover;
    
}
.nav-container{
    display: flex;
    justify-content: right;
    margin: 50px;
}
.nav-container li{
    list-style: none;
    margin: 20px;
    font-size: 22px;
    color:black;
    border: 1px solid black;
    background-color:lightyellow;
    border-radius: 5px;
    padding: 10px;
}
.container-header{
    text-align: center;
    padding: 10%;
    margin: ;
    
}
.container-header .main-text{
    font-size: 55px;
    font-weight: 700;
    color: whitesmoke;
}
.discription{
    font-size: 20px;
    font-weight: 400;
    color: whitesmoke;
    margin-bottom: 40px;

}
.btn{
    padding: 20px 40px;
    border: 0px;
    border-radius: 8px;
    color:whitesmoke;
    font-size: 18px;
    background-color: #FF5959;
}
.pri-main{
    text-align: center;
    margin-top: 130px;
    font-size: 35px;
}
.pri-discription{
    text-align: center;
    margin: -5px;
    color: #707070;

}
.donate-tk{
    display: flex;
    justify-content: center;
}
.donate-tk li{
    list-style: none;
    padding: 40px;
    margin: 20px;
    background-color:#dadada;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 400;
}
.single-text{
    text-align: center;
    font-size: 18px;
    color: #707070;
    margin-top: 80px;
}
.hr-brek{
    width: 50%;
    margin: auto;
}
.madle-btn{
    margin-top: 20px;
    text-align: center;
}
.box-container{
    display: flex;
    gap: 80px;
    width: 999px;
    height: ;
    margin: auto;
    margin-top: 30px;

    
    
}
.box-container div{
    border-radius: 10px;
    padding:20px;
}
.row-countiner{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    

}
.row-left{
    width: 700px;
    height: 00px;
    padding: 30px;
    margin-left: 15%;
    text-align:left;
 
}
.row-text{
    font-size: 30px;
    font-weight: 700;
}
.row-discription{
    color: #707070;
    font-size: 18px;
}
.img-fix{
    width: 550px;
    height: 350px;
    margin:50px;
    margin-left: 120px; 

}
.img-pader{
    margin-right: 300px;
    
 }

 .row-countiner-nd{
    display: flex;
    flex-direction: row-reverse;
   }
.row-right{
    width: 700px;
    height: 00px;
    padding: 30px;
    margin-right: 16%;
    text-align: right;
}
.img-fix-right{
    width: 550px;
    height: 350px;
    margin:50px;
    margin-right: 120px; 

}
.img-pader-right{
    margin-left: 270px;
    
 }
 .footer-container{
    text-align: center;
 }
 .input-countainer{
    width: 500px;
    padding: 100px;
    margin: auto;
    background-color:#FFF4D6 ;
    position: 50% 50%;
    align-items:left;
    margin-top: 50px;
    margin-bottom: 10%;
  }
.email{
    width: 50%;
    padding: 10px;

}
.subscrib{
    margin-left: -5px;
    padding: 10px 40px;
    border: 0px;
    color:whitesmoke;
    font-size: 18px;
    background-color: #FF5959;
}
.last-footer{
    width: 100%;
    height: 20vh;
    background-color: black;
}
.be{
    text-align: center;
    padding-top: 20px;
    color: red;
    font-family:  'Lobster', cursive;
    font-size: 27px;

}